/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/
body{
    font-family: sans-serif;
}
/*Utils*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display:flex;
}


header{
    background-color: blue;
    padding-top: 20px;
    color: white;
}

.navbar{
    background-color: goldenrod;
    height: 40px;
    border: dashed black;
    display: flex;
    align-items: center;
    width: 900px;
    color: white;
}

ul{
    color:white;
    text-decoration: none;
    list-style: none;
}

.button{
    color: black;
    background-color: white;
    border-radius: 30px;
}

#jumbotron{
    width: 100%;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#jumbotron-inner{
    background-color: palevioletred;
    height: 300px;
    width: 600px;
    border: dashed black;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-top: 60px;
    
}

h1{
    padding-bottom: 30px;
}
.section{
    padding: 50px;
    height: 600px;
}
.white-small{
    background-color: white;
    min-height: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.gray-small{
    background-color: lightgrey;
    min-height: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.gray-big{
    background-color: lightgray;
    min-height: 500px;
    padding-top: 50px;
}

.large-col{
    flex-basis: 60%;
    min-height: 300px;
    border: dashed black;
    margin: 0 auto;
}
.small-col{
    flex-basis: 40%;
    min-height: 30px;
    border: dashed black;
    margin: 0 auto;
    color: black;
    padding-left: 40px;
    padding-top: 40px;
}
.box{
    min-height: 400px;
    width: 600px;
    margin: 0 auto;
    border: dashed black;
    color: black;
    text-align: center;
    padding-right: 100px;
}
div.immagine{
    padding-left: 50px;
}

footer{
    background-color: rgb(39, 38, 38);
    height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.foooter-top{
    margin-top: 500px;
    border-bottom: 1px purple dashed;
}